div.app-container {
  max-width: 50%;
  border: 5px solid #142d4c;
  border-radius: 4px;
  margin-top: 30px;
  background: #425f82;
  font-family: "Kanit", sans-serif;
  color: #ececec;
}
div.top-left {
  margin-top: 10px;
}
form {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
input {
  all: unset;
  font: 16px system-ui;
  background: #ececec;
  color: #2b3642;
  width: 100%;
  padding: 6px 10px;
  border-radius: 10px;
  border: 3px solid #142d4c;
}
.card-title {
  font-size: 2rem;
}
.card-subtitle {
  font-size: 1.3rem;
}
.mag-button {
  background: transparent;
  border: none;
  position: relative;
  right: 40px;
  font-size: 20px;
}

.current-location-button {
  border-radius: 10px;
  font-size: 13px;
  line-height: 18px;
  padding: 0px 10px;
  position: relative;
  right: 10px;
}

div.cw-card {
  border: none;
  background: #425f82;
  color: #ececec;
  font-weight: 200;
}

span.city-temp {
  font-size: 75px;
  margin-left: 25px;
}
span.index {
  font-size: 18px;
  position: relative;
  bottom: 40px;
}

a.index-links {
  color: #ececec;
  text-decoration: none;
}
.index-links:hover {
  color: #29343f;
}

div.current-precipt-info {
  position: relative;
  top: 20px;
  font-size: 16px;
  text-align: left;
}

div.hourly-forcast {
  text-align: center;
  padding-bottom: 10px;
  font-size: 16px;
}

div.daily-forcast {
  font-size: 14px;
  font-weight: 200;
  padding-top: 5px;
  border-left: thick double #142d4c;
  text-align: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}
div.source-link {
  margin: 0 auto;
  max-width: 50%;
  font-size: 10px;
}
div.feels-like {
  margin-left: 10px;
}

#condition-image {
  max-width: 12%;
}
#wind-icon {
  margin-right: 5px;
  margin-left: 5px;
}
